.nav {
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 30px;
}
.nav img {
  display: block;
  max-width: 100%;
  cursor: pointer;
}

.App{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
background-color: rgb(177, 176, 176);

}