.smallRadialred{
position: absolute;
width: 70%;
height: 80%;
left: 337px;
top: 1343.87px;
background: rgba(197, 2, 72, 0.3);
filter: blur(650px);

}



@media screen and (max-width: 800px) {

.smallRadialred{

top: 1645.87px;
    position: absolute;
    width: 70%;
    height: 20%;
    left: 100px;
    top: 1406.87px;
    background: rgba(197, 2, 72, 0.5);
    filter: blur(650px);
   
}
 }   